## 자료구조

### 리스트
특징
- 순서가 있는 데이터구조

In [2]:
my_list = [1,2,3,4,'hello'] # 다른 자료형을 넣어도 상관 X 

print(my_list)

[1, 2, 3, 4, 'hello']

In [ ]:
my_list = [1,2,3,4,2] # 중복 허용

print(my_list)

[1, 2, 3, 4, 2]

In [7]:
my_list[2] # 인덱스가 있음!

my_list.append(4)

print(my_list)

[1, 2, 3, 4, 2, 4, 4]

In [14]:
my_list[0] = '바꿈'

In [15]:
print(my_list)

['바꿈', 2, 3, 4, 2, 4, 4]

### 튜플
- 순서가 있는 데이터구조 -> index
- 불변적 -> 생성한다음 수정 X

In [10]:
tuple = (1,2,3,4)

print(tuple)

(1, 2, 3, 4)

In [ ]:
tuple = (1,2,3,4,4) #중복 허용

print(tuple)

(1, 2, 3, 4, 4)

In [ ]:
tuple = (1,2,3,4,4) #중복 허용

# tuple[3] = '1' #값을 변경할 수 없음.

TypeError: 'tuple' object does not support item assignment

### 딕셔너리

- Key - Value 쌍

In [ ]:
dict = {
    'name':'박태근',
    'age':20,
    # 'age':20, 키값이 동일 할 순 없음.
    'city': '시흥'
}

In [19]:
print(dict['name'])
dict['city'] = '서울' # -> key는 중복이 안된다.
print(dict['city'])

dict['job'] = 'teacher'

print(dict)

박태근
서울
{'name': '박태근', 'age': 20, 'city': '서울', 'job': 'teacher'}

In [23]:
dict2 = {
    'name':'박태근2',
    'age':202,
    'city': '시흥2'
}

dict3 = {
    'name':'박태근3',
    'age':202,
    'city': { 
        "home" : '시흥3',
        'job' : '창원'
        }
}

In [24]:
print(dict3)

{'name': '박태근3', 'age': 202, 'city': {'home': '시흥3', 'job': '창원'}}

In [21]:
dict_list = [dict, dict2, dict3]

print(dict_list)

[{'name': '박태근', 'age': 20, 'city': '서울', 'job': 'teacher'}, {'name': '박태근2', 'age': 202, 'city': '시흥2'}, {'name': '박태근3', 'age': 202, 'city': '시흥3'}]

### Set
- 중복 불허용
- 순서가 없음

In [27]:
set = {1,2,3,4,5,1}

print(set)

{1, 2, 3, 4, 5}