# 03. 리스트(List)
---
## 리스트 개요
### 리스트란?
* 일련의 값이 모인 집합을 다루기 위한 자료형, python은 배열과 같은 표현식을 쓰지만, 일반적인 프로그래밍 언어와 다르게,   
 길이를 동적으로 조절 할 수 있어 list라고 부른다.

### 리스트 표현식
```
리스트명 = ['값1', '값2', ...]
```
- List의 각 요소의 자료형은 무엇이든 될 수 있으며, 서로 다른 자료형이어도 괜찮다.
- List에 저장되는 요소들은 0부터 시작하는 인덱스 체계로 구분해서 저장된다.

In [4]:
numbers = [1,2,3,4,5,'a']

print(numbers)
print(numbers[5])

[1, 2, 3, 4, 5, 'a']
a

### 리스트 연산

**리스트 합치기**
- 리스트 간 + 연산자를 이용하여 하나로 합칠 수 있다.

In [5]:
alpha = ['a', 'b', 'c', 'd','e']
alpha2 = ['a', 'b', 'c']

In [6]:
print(alpha + alpha2)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c']

**리스트 반복**
- 리스트에 * 연산을 하면 요소를 반복 할 수 있다.

In [7]:
print(alpha2 * 2)

['a', 'b', 'c', 'a', 'b', 'c']

### 리스트 메서드

In [8]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']

**count()**
- count(값)은 리스트에 인자로 준 값이 몇개 존재하는지 확인하여 그 수를 반환한다.

In [17]:
fruits.count('apple')

fruits.count('melone')

0

**index()**
- index(값)은 리스트에서 인자로 준 값이 몇번째 인덱스에 존재하는지 확인하여 그인덱스를 반환한다.
- 같은 값이 리스트 내에 여러 개 존재하면 가장 처음에 등장하는 값의 인덱스를 반환한다.

In [ ]:
# fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple']
fruits.index('apple')

1

**reverse()**
- reverse()는 list의 값을 역으로 정렬한다.

In [21]:
fruits.reverse()

print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

**append()**
- append(값)은 list에 값을 덧붙여 추가한다.

In [23]:
fruits.append('pineapple')

fruits

['apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange',
 'pineapple',
 'pineapple']

**extend()**
- extend(리스트)는 리스트에 리스트를 덧붙여 추가한다.

In [25]:
new_fruits = ['grape', 'mango']

fruits.extend(new_fruits)

print(fruits)

['apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'pineapple', 'grape', 'mango']

**insert()**
- insert(위치, 값)은 리스트의 특정 위치에 값을 삽입한다.

In [26]:
fruits.insert(1,'monkey')

print(fruits)

['apple', 'monkey', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'pineapple', 'pineapple', 'grape', 'mango']

**sort()**
- 요소를 정렬하는 메서드로 원본 list에 영향을 준다.
- 기본적으로 숫자 오름차순, 알파벳의 첫 글자를 기준으로 오름차순 정렬한다.

In [27]:
fruits.sort()
print(fruits)

['apple', 'apple', 'banana', 'grape', 'kiwi', 'mango', 'monkey', 'orange', 'pear', 'pineapple', 'pineapple']

매개변수로 다양한 옵션을 주어 다른 기준으로 정렬할 수 있다.

In [ ]:
# 내림차순
fruits.sort(reverse=True)
print(fruits)

['pineapple', 'pineapple', 'pear', 'orange', 'monkey', 'mango', 'kiwi', 'grape', 'banana', 'apple', 'apple']

In [29]:
fruits.sort(key=len)
print(fruits)

['pear', 'kiwi', 'mango', 'grape', 'apple', 'apple', 'orange', 'monkey', 'banana', 'pineapple', 'pineapple']